body {
  font-family: "Lato", sans-serif;
  background-image: url("/img/coffee-beans-dark-background-top-view-coffee-concept-banner.jpg");
}

h1,
h2,
h3 {
  font-family: "Lato", sans-serif;
  color: white;
}

p {
  font-family: "Lato", sans-serif;
  color: white;
}

.btn-warning {
  background-color: #f0a500;
}

.fa {
  color: white;
}

.navbar {
  background-color: #e6d5b8;
  color: #4a3933;
}

.jumbotron {
  background-image: url("/img/pozadina.jpg");
  background-size: cover;
}

.bg-secondary {
  background-color: #4a3933 !important;
  /* opacity: 75%; */
}

.espresso-img {
  background-color: #4a3933;
}

.site-footer {
  background-color: #4a3933;
}

.copyright,
a {
  background-color: #e6d5b8;
  color: #4a3933;
}

/* Google Map in footer */

.map-container-9 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container-9 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* modal */

.modal-header {
  background-image: url("/img/high-angle-shot-coffee-beans-jars-breakfast-table-with-some-pastry.jpg");
  background-position: center;
  background-size: cover;
  padding: 10rem 10rem 2rem 2rem;
}

#header-bg {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.9;
}

body#menu-page {
  background-image: none;
}
.menu-container {
  background-color: #4a3933;
  opacity: 0.7;
}

.card {
  background-color: #fff;
}
.card-menu {
  border-radius: 10;
}
.card-body h4,
p {
  color: #4a3933;
}
